@using Entities
@using Constants
@{
    ViewBag.Title = "User Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var showItem = ViewBag.Orders as List<Order> ;

 
    decimal total = 0;
}

@section css{
    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

    <!--Font Awesome (added because you use icons in your prepend/append)-->
    <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />

    <!-- Inline CSS based on choices in "Settings" tab -->
    <style>
        /*Breadcrumbs*/
        .breadcrumbs {
            padding: 10px 0 6px;
            box-shadow: inset 0 0 4px #eee;
            background: url("https://formden.com/static/assets/img/breadcrumbs.png") repeat;
        }

            .breadcrumbs h1 {
                color: #686868;
                font-size: 26px;
                margin-top: 12px;
            }

        .breadcrumb {
            top: 9px;
            padding-right: 0;
            background: none;
            position: relative;
        }

            .breadcrumb a {
                color: #777;
            }

            .breadcrumb li.active,
            .breadcrumb li a:hover {
                color: #72c02c;
                text-decoration: none;
            }

        .margin-bottom-30 {
            margin-bottom: 30px;
        }

        .btn-template-main {
            color: #38a7bb;
            background-color: #fff;
            border-color: #38a7bb;
        }
    </style>

}
<!-- Preloader section
================================================== -->
<div class="preloader">
    <div class="sk-spinner sk-spinner-pulse"></div>
</div>



<!-- Navigation section
================================================== -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Photo Printing</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li> <a href="/home" class="smoothScroll"> HOME</a> </li>
                <li> <a href="/upload" class="smoothScroll"> UPLOAD</a> </li>
                <li> <a href="/info" class="smoothScroll"> ACCOUNT</a> </li>

            </ul>
        </div>

    </div>
</div>

<!-- Home section
================================================== -->
<div class="breadcrumbs margin-bottom-30">
    <div class="container">
        <h1 class="pull-left">My Order</h1>
        <ul class="pull-right breadcrumb">

            <li><a href="/">Home</a></li>
            <li class="active">My Order</li>
        </ul>
    </div>
</div>
<div class="container" style="margin-top: 25px;">

    <div class="row">

        <!-- *** LEFT COLUMN ***
        _________________________________________________________ -->
        <div class="col-md-9">

            <p class="text-muted lead">If you have any questions, please feel free to <a href="#l">contact us</a>, our customer service center is working for you 24/7.</p>

            <div class="box">

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Order</th>
                                <th>Date</th>
                                <th>Total</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (showItem != null)
                            {
                                foreach (var item in showItem)
                                {
                                    total = item.OrderDetails.Sum(c => c.Quantity * (c.Product.ProductPrice + c.Material.Price)).Value;


                                    <tr>
                                        <th>#@item.OrderId</th>
                                        <td>@item.CreatedAt.Value.ToShortDateString() </td>
                                        <td>@total.ToString("0,0") VNĐ</td>
                                        <td>
                                            @if (item.Status.Equals(OrderStatus.Pending))
                                            {
                                                <span class="label label-info">@item.Status</span>
                                            }
                                            else if (item.Status.Equals(OrderStatus.Cancelled))

                                            {
                                                <span class="label label-danger">@item.Status</span>

                                            }
                                            else if (item.Status.Equals(OrderStatus.Processing))

                                            {
                                                <span class="label label-warning">@item.Status</span>

                                            }
                                            else if (item.Status.Equals(OrderStatus.Confirmed))

                                            {
                                                <span class="label label-primary">@item.Status</span>

                                            }
                                            else if (item.Status.Equals(OrderStatus.Received))

                                            {
                                                <span class="label label-success">@item.Status</span>

                                            }



                                        </td>
                                        <td>
                                            <a href="/details/@item.OrderId" class="btn btn-template-main btn-sm">View</a>
                                        </td>
                                    </tr>
                                }
                            }
                                </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->

            </div>
            <!-- /.box -->

        </div>
        <!-- /.col-md-9 -->
        <!-- *** LEFT COLUMN END *** -->
        <!-- *** RIGHT COLUMN ***
        _________________________________________________________ -->

        <div class="col-md-3">
            <!-- *** CUSTOMER MENU ***
            _________________________________________________________ -->
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Customer section</h3>
                </div>

                <div class="panel-body">

                    <ul class="nav nav-pills nav-stacked">

                        <li class="active">
                            <a href="/history"> <i class="fa fa-list"> </i> My orders</a>
                        </li>

                        <li>
                            <a href="/info"> <i class="fa fa-user"> </i> My account</a>
                        </li>
                        <li>
                            <a href="/logout"> <i class="fa fa-sign-out"> </i> Logout</a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- /.col-md-3 -->
            <!-- *** CUSTOMER MENU END *** -->
        </div>

        <!-- *** RIGHT COLUMN END *** -->

    </div>


</div>
<hr>


