@using Constants
@{
    ViewBag.Title = "Order Management";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section css{

    <link href="~/Areas/Admin/Assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">

    <link href="~/Areas/Admin/Assets/plugins/mjolnic-bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">

    <link href="~/Areas/Admin/Assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">

    <link href="~/Areas/Admin/Assets/plugins/clockpicker/bootstrap-clockpicker.min.css" rel="stylesheet">

    <link href="~/Areas/Admin/Assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

}

@section script{

    <script src="~/Areas/Admin/Assets/plugins/moment/moment.js"></script>
    <script src="~/Areas/Admin/Assets/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Areas/Admin/Assets/plugins/mjolnic-bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/Areas/Admin/Assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Areas/Admin/Assets/plugins/clockpicker/bootstrap-clockpicker.js"></script>
    <script src="~/Areas/Admin/Assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script src="~/Areas/Admin/Assets/pages/jquery.form-pickers.init.js"></script>

    <script src="~/Areas/Admin/Assets/js/order.js"></script>
    <script src="~/Areas/Admin/Assets/js/OrderDetais.js"></script>


}

<!-- Title Row -->
<div class="row">
    <div class="col-xl-12">
        <div class="page-title-box">
            <h4 class="page-title float-left">Order</h4>
            <div class="clearfix"></div>

        </div>
    </div>
</div>

<!-- Content  -->
<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <h4 class="m-t-0 header-title"><b>List Order</b></h4><br />
            <div id="datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <select name="filter_order" aria-controls="datatable" class="form-control form-control-sm" style="width:50%;">
                            <option value="">Select...</option>
                            <option value="@OrderStatus.Pending">@OrderStatus.Pending</option>
                            <option value="@OrderStatus.Canceled">@OrderStatus.Canceled</option>
                            <option value="@OrderStatus.Confirmed">@OrderStatus.Confirmed</option>
                            <option value="@OrderStatus.Received">@OrderStatus.Received</option>
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-3 ">
                        <div class="form-group">
                            <div id="reportrange" class="form-control">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                <span id="filter-date"></span>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-12 col-md-2  ">
                        <div class="range_inputs">
                            <button class="queryBtn btn btn-sm btn-custom" type="button">Query</button>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div id="datatable_filter" class="dataTables_filter">
                            <input style="width:50%;position:relative" type="text" placeholder="Search..." class=" pull-right form-control" name="search-bar">
                            <i class="fa fa-search pull-right" style="position: absolute;right: 25px;top: 13px;">

                            </i>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr style="background-color:#2B3D51;color:white;text-align: center">
                                    <th>Id</th>
                                    <th>Customer Name</th>
                                    <th>Phone Number</th>
                                    <th>Address</th>
                                    <th>Folder</th>
                                    <th>Total Amount</th>
                                    <th>Status</th>
                                    <th>Order Date</th>
                                    <th>Modified</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody id="order-data"></tbody>
                        </table>

                        <div class="content_detail__pagination cdp" actpage="1">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Oder Details -->
<div class="modal fade bs-example-modal-lg" id="modal-order-details" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 850px;text-align:center;margin-left:-150px;">
            <div class="modal-header">
                <h5 class="modal-title" id="myLargeModalLabel">Order Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="body-modal-order-details" class="modal-body">

                <!-- end row -->

            </div> <!-- content -->
        </div>
    </div>
</div>
