@using System.Collections
@using Entities
@using Constants
@{
    var order = (Order)ViewBag.Data;
}
<style>
    th {
        text-align: center;
    }
    .CanceledColor {
        background-color: #d9534f;
    }

    .ConfirmedColor {
        background-color: #5bc0de;
    }

    .PendingColor {
        background-color: #ff5d48;
    }

    .ReceivedColor {
        background-color: #5cb85c;
    }

    .ProcessingColor {
        background-color: gainsboro;
    }

    .size {
        padding: 4px 10px;
        border-radius: 5px;
        color: white;
    }

   
</style>
@{ 
    var colorstatus = string.Empty;
    switch (order.Status)
    {
        case OrderStatus.Pending:
            colorstatus = "PendingColor";
            break;

        case OrderStatus.Confirmed:
            colorstatus = "ConfirmedColor";
            break;

        case OrderStatus.Processing:
            colorstatus = "ProcessingColor";
            break;

        case OrderStatus.Received:
            colorstatus = "ReceivedColor";
            break;

        case OrderStatus.Canceled:
            colorstatus = "CanceledColor";
            break;
    }
}


<div class="row">
    <div class="col-12">
        <div class="card-box">
            <!-- <div class="panel-heading">
                <h4>Invoice</h4>
            </div> -->
            <div class="panel-body">
                <div class="clearfix">
                    <div class="float-left">
                        <h3 class="logo">Photos Printing</h3>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">

                        <div class="float-left m-t-30">

                            <address>
                                <strong>@(order.Customer.CustomerName != null ? order.Customer.CustomerName : string.Empty)</strong><br>
                                @(order.Address != null ? order.Address.AddressDetails : string.Empty)<br>
                                
                                <abbr title="Phone">P:</abbr> &nbsp; @(order.PhoneNumber != null ? order.PhoneNumber : string.Empty)
                            </address>
 
                           
                        </div>
                        <div class="float-right m-t-30">
                            <p><strong>Order Date: </strong>@order.CreatedAt</p>
                            <p class="m-t-10"><strong>Order Status: </strong> <span class="@colorstatus size">@order.Status</span></p>
                            <p class="m-t-10"><strong>Order ID: </strong> #@order.OrderId</p>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->

                <div class="m-h-50"></div>

                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table m-t-30">
                                <thead class="bg-faded">
                                    <tr>
                                        <th>Id</th>
                                        <th>Item Name</th>
                                        <th>Quantity</th>
                                        <th>Image</th>
                                        <th>Unit Cost</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (order != null)
                                        {
                                            var result = new
                                            {

                                                OrderDetails = order.OrderDetails.Select(od => new { od.Product.ProductName, od.OrderDetailsId, od.Quantity, od.Product.ProductPrice, od.Image, Total = od.Quantity * (od.Product.ProductPrice + od.Material.Price) }).ToList()
                                            };
                                            foreach (var item in result.OrderDetails)
                                            {
                                                <tr>
                                                    <td>@item.OrderDetailsId</td>
                                                    <td>@item.ProductName</td>
                                                    <td>@item.Quantity</td>
                                                    <td><a href="#" onclick="GetImage('/Images/Upload/@order.FolderImage/@item.Image')">@item.Image</a></td>
                                                    <td>@item.ProductPrice.ToString("0,0") VNĐ</td>
                                                    <td>@(item.Total.HasValue ? item.Total.Value.ToString("0,0") : string.Empty) VNĐ</td>
                                                </tr>
                                            }

                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                    </div>
                    <div class="col-6 ">
                        <h3 class="text-right">@(order.OrderDetails.Sum(o => o.Quantity * (o.Product.ProductPrice + o.Material.Price)).HasValue ? order.OrderDetails.Sum(o => o.Quantity * (o.Product.ProductPrice + o.Material.Price)).Value.ToString("0,0") : string.Empty) VNĐ</h3>
                    </div>
                </div>
                <hr>
                @*<div class="hidden-print">
                    <div class="float-right">
                        <a href="javascript:window.print()" class="btn btn-dark waves-effect waves-light"><i class="fa fa-print"></i></a>
                        <a href="#" class="btn btn-primary waves-effect waves-light">Submit</a>
                    </div>
                    <div class="clearfix"></div>
                </div>*@
            </div>
        </div>

    </div>
</div>


