@using Entities
@{var noti = ViewBag.Notifications as List<Notification>;}
    
        
        @foreach (var item in noti)
        {
            <li style="cursor:pointer" data-url = "@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)/@item.Url" class="notification-box @(item.IsRead!=true?"bg-gray":string.Empty)">
                <div class="row">
                    <div class="col-lg-3 col-sm-3 col-3 text-center">
                        <img src="~/Areas/Admin/Assets/images/users/avatar-4.jpg" style="width:100px" class="rounded-circle">
                    </div>
                    <div class="col-lg-8 col-sm-8 col-8">
                        <strong class="text-info">@item.Title</strong>
                        <div>
                            @item.Details
                        </div>
                        <small class="text-warning">@item.CreatedAt.Value.ToString("dd.MM.yyyy, hh:mms")</small>
                    </div>
                </div>
            </li>
        }
        @*<li class="footer bg-dark text-center">
            <a href="" class="text-light">View All</a>
        </li>*@