@using Entities
@using Constants

@{
    ViewBag.Title = "Order Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var showItem = ViewBag.Order as Order;
    decimal total = 0;

}

@section css{
    <style type="text/css">

        /*Breadcrumbs*/
        .breadcrumbs {
            padding: 10px 0 6px;
            box-shadow: inset 0 0 4px #eee;
            background: url("https://formden.com/static/assets/img/breadcrumbs.png") repeat;
        }

            .breadcrumbs h1 {
                color: #686868;
                font-size: 26px;
                margin-top: 12px;
            }

        .breadcrumb {
            top: 9px;
            padding-right: 0;
            background: none;
            position: relative;
        }

            .breadcrumb a {
                color: #777;
            }

            .breadcrumb li.active,
            .breadcrumb li a:hover {
                color: #72c02c;
                text-decoration: none;
            }

        .margin-bottom-30 {
            margin-bottom: 30px;
        }
    </style>
}
<!-- Preloader section
================================================== -->
<div class="preloader">
    <div class="sk-spinner sk-spinner-pulse"> </div>
</div>
<!-- Navigation section
================================================== -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"> </span>
                <span class="icon icon-bar"> </span>
                <span class="icon icon-bar"> </span>
            </button>
            <a href="#" class="navbar-brand"> TEAM SiX</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li> <a href="/home" class="smoothScroll"> HOME</a> </li>
                <li> <a href="/upload" class="smoothScroll"> UPLOAD</a> </li>
                <li> <a href="/info" class="smoothScroll"> ACCOUNT</a> </li>

            </ul>
        </div>

    </div>
</div>
<!-- Home section
================================================== -->
<div class="breadcrumbs margin-bottom-30">
    <div class="container">
        <h1 class="pull-left"> #@showItem.OrderId</h1>
        <ul class="pull-right breadcrumb">

            <li> <a href="/"> Home</a> </li>
            <li class="active">#@showItem.OrderId</li>
        </ul>
    </div>
</div>

<div id="content">
    <div class="container">

        <div class="row">
            <!-- *** LEFT COLUMN ***
            _________________________________________________________ -->
            <div class="col-md-9 clearfix" id="customer-order">

                <p class="lead"> Order #@showItem.OrderId was placed on <strong>@showItem.CreatedAt.Value.ToShortDateString()</strong> and is currently <strong class="label label-info">@showItem.Status</strong> .</p>
                <p class="lead text-muted"> If you have any questions, please feel free to <a href="contact.html"> contact us</a>, our customer service center is working for you 24/7.</p>
                @if (showItem.Status.Equals(OrderStatus.Pending))
                {
                <button  class="btn btn-danger">
                    Cancel Order
                </button>
                }

                <div class="box">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    @if (!showItem.Status.Equals(OrderStatus.Received))
                                    {
                                        <th> Image</th>
                                    }
                                    <th> Size</th>
                                    <th> Material</th>
                                    <th> Option</th>
                                    <th> Quantity</th>
                                    <th> Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (showItem != null)
                                {
                                    foreach (var item in showItem.OrderDetails)
                                    {


                                        <tr>
                                            @if (!showItem.Status.Equals(OrderStatus.Received))
                                            {
                                                <td style="width: 225px">
                                                    <img src="@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)/Images/Upload/@showItem.FolderImage/@item.Image" class="img-responsive" width="40%" alt="">
                                                </td>
                                            }
                                            <td> @item.Product.ProductSize </td>
                                            <td> @item.Material.Details</td>
                                            <td>
                                                @{List<string> options = new List<string> { "Delete Background", "Increase Quality", "Blur The Background" };
                                                    for (int i = 1; i < options.Count + 1; i++)
                                                    {
                                                        if (i == item.Option)
                                                        {

                                                            <span>@options[i - 1]</span>
                                                        }
                                                    }
                                                }
                                            </td>
                                            <td>@item.Quantity</td>
                                            @{ var subTotal = (item.Quantity * (item.Product.ProductPrice + item.Material.Price));
                                                total = showItem.OrderDetails.Sum(c => c.Quantity * (c.Product.ProductPrice + c.Material.Price)).Value;
                                            }
                                            <td>@(subTotal != null ? subTotal.Value.ToString("0,0") : string.Empty) VND </td>

                                        </tr>
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="5" class="text-right"> Order subtotal</th>
                                    <th>@total.ToString("0,0") VNĐ </th>
                                </tr>
                                <tr>
                                    <th colspan="5" class="text-right"> Shipping and handling</th>
                                    <th> 0 VNĐ</th>
                                </tr>
                                <tr>
                                    <th colspan="5" class="text-right"> Total</th>
                                    <th> @total.ToString("0,0") VNĐ</th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                    <!-- /.table-responsive -->
                    <div class="row addresses">

                        <div class="col-sm-6">
                            <h3 class="text-uppercase"> Shipping address</h3>
                            <p>
                                @showItem.Customer.CustomerName
                                <br> @showItem.Address.AddressDetails
                                <br> @showItem.PhoneNumber

                            </p>
                        </div>

                        <div class="col-sm-6">
                            <h3 class="text-uppercase"> Payment</h3>
                            <p>
                                **** **** ****@showItem.CreditCard.CreditNumber.Substring(12, 4)
                                <br>

                            </p>
                        </div>
                    </div>
                    <!-- /.addresses -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col-md-9 -->
            <!-- *** LEFT COLUMN END *** -->
            <!-- *** RIGHT COLUMN ***
            _________________________________________________________ -->
            <div class="col-md-3">
                <!-- *** CUSTOMER MENU ***
                _________________________________________________________ -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title"> Customer section</h3>
                    </div>

                    <div class="panel-body">

                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <a href="/history"> <i class="fa fa-list"> </i> My orders</a>
                            </li>

                            <li>
                                <a href="/info"> <i class="fa fa-user"> </i> My account</a>
                            </li>
                            <li>
                                <a href="/logout"> <i class="fa fa-sign-out"> </i> Logout</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /.col-md-3 -->
                <!-- *** CUSTOMER MENU END *** -->
            </div>
            <!-- *** RIGHT COLUMN END *** -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<hr />